body{
    display:flex;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    background-color: #FAFAEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 100vw;
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100vw;
}
.titulos{
    background-color: #cc5d4f;
    height: 90px;
}
header img{
    width: 40px;
    height: 40px;
    border: 6px solid #cc5d4f;
    border-radius: 50%;

}
header h1{
    font-size: 40pt;
    color: #FAFAEE;    
}