.modaljs{
    display: none;
    flex-direction: column;
    align-items: center;   
    position: absolute;
    right: 130px;
    top: 126px;
}
#entrar a{
    text-decoration: none;
    color: white;
}

.ativar{
    display: flex;
}

#loginModal{
    height: 300px;
    width: 200px;
}

#trianglim{
    height: 23px;
    width: 23px;
    background-image: url(../img/folhamodal.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: -1px;
    transform: rotate(-40deg);

}

#topLogin{
    height: 40px;
    width: 200px;
    background-color: #99B23C;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topLogin h1{
    margin: 0;
    color: #FAFAEE;
    text-align: center;
    font-size: 25px;
}

#bottomLogin{
    height: 40px;
    width: 200px;
    background-color: #99B23C;
    border-radius: 0 0 15px 15px;
}

#caixaLogin{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 200px;
    align-items: center;
    background-color: white;
    width:200px;
}

#usuario, #senha{
    border-radius: 20px;
    height: 30px;
    width: 160px;
    border: none;
    box-shadow: 0px -1px 0px -1px rgba(185, 68, 53, 0.644), 1px 0px 11px 1px rgba(185, 68, 53, 0.644);
    outline: none;
}
#usuario::placeholder, #senha::placeholder{
    text-align: center;
}
input[type=email], input[type=password]{
    width: 100%;
    padding: 12px 32px;
    box-sizing: border-box;
}

#usuario{
    background-image: url(/img/pessoalogin.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
}

#senha{
    background-image: url(/img/cadeadologin.png);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
}

.esqueci{
    font-size: 12px;
    color: rgb(185, 68, 53);
    cursor: pointer;
}

#entrar{
    border-radius: 8px;
    height: 30px;
    width: 80px;
    border: none;
    box-shadow: 1px 0 8px 1px rgba(204, 93, 79, 0.1), 0 1px 40px 0 rgba(204, 93, 79, 0.1);
    outline: none;
    background-color: #99B23C;
    color: #FAFAEE;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}



*{
    font-family: 'Dosis', sans-serif;
}